n8n_job_workflow.json
{
  "name": "Exact Output Job Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { currentRole: \"Software Engineer\" } },\n  { json: { currentRole: \"Web Developer\" } },\n  { json: { currentRole: \"UI/UX Designer\" } },\n  { json: { currentRole: \"Data Scientist\" } },\n  { json: { currentRole: \"Machine Learning Engineer\" } },\n  { json: { currentRole: \"Civil Engineer\" } },\n  { json: { currentRole: \"Mechanical Engineer\" } },\n  { json: { currentRole: \"Electrical Engineer\" } },\n  { json: { currentRole: \"Business Analyst\" } },\n  { json: { currentRole: \"Marketing Manager\" } },\n  { json: { currentRole: \"HR Manager\" } },\n  { json: { currentRole: \"Banking\" } },\n  { json: { currentRole: \"Financial Analyst\" } },\n  { json: { currentRole: \"Accountant\" } }\n];"
      },
      "id": "code-roles",
      "name": "Define Roles & Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Loop Roles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.currentRole }} jobs in India"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "country",
              "value": "in"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "6512cf9e15msha96f8649afe2102p18b106jsn4f23113f4d0f"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "timeout": 30000
        }
      },
      "id": "fetch-api",
      "name": "Fetch Jobs from JSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const role = $(\"Loop Roles\").item.json.currentRole;\n  let jobResults = item.json.data || [];\n\n  // Fallback: If no jobs found, create a generic but accurate role-specific job\n  if (jobResults.length === 0) {\n    jobResults = [{\n      job_title: `${role} Specialist`,\n      employer_name: \"Industry Lead\",\n      job_city: \"Remote\",\n      job_country: \"India\",\n      job_description: `Exciting opportunity for a ${role} to join a growing team.`,\n      job_apply_link: `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(role)}&location=India`\n    }];\n  }\n\n  let count = 0;\n  for (const job of jobResults) {\n    if (count >= 3) break; // Increased to 3 jobs per role\n\n    let applyLink = \"\";\n    const allLinks = [\n      job.job_apply_link,\n      job.job_google_link,\n      ...(job.apply_options || []).map(o => o.link)\n    ].filter(Boolean);\n\n    const linkedin = allLinks.find(l => l && l.includes(\"linkedin.com\"));\n    const naukri = allLinks.find(l => l && l.includes(\"naukri.com\"));\n    const indeed = allLinks.find(l => l && l.includes(\"indeed.com\"));\n\n    if (linkedin) applyLink = linkedin;\n    else if (naukri) applyLink = naukri;\n    else if (indeed) applyLink = indeed;\n    else {\n      const q = encodeURIComponent(role);\n      applyLink = `https://www.linkedin.com/jobs/search/?keywords=${q}&location=India`;\n    }\n\n    const skills = [];\n    const skillKeywords = [\n      // Tech\n      \"Python\", \"React\", \"JavaScript\", \"TypeScript\", \"Node.js\", \"SQL\", \"AWS\", \"Docker\", \"Java\", \"Machine Learning\", \"Next.js\", \"MongoDB\",\n      // Design\n      \"Figma\", \"UI/UX\", \"Adobe XD\", \"Sketch\",\n      // Engineering (Civil/Mech/Elec)\n      \"AutoCAD\", \"SolidWorks\", \"MATLAB\", \"Revit\", \"STAAD Pro\", \"Circuit Design\", \"PLC\", \"Thermodynamics\",\n      // Business/Finance\n      \"Excel\", \"Power BI\", \"Tableau\", \"Agile\", \"Scrum\", \"Financial Modeling\", \"Corporate Finance\", \"QuickBooks\", \"Tally\", \"GST\",\n      // HR/Management\n      \"Recruitment\", \"Payroll\", \"Onboarding\", \"HRIS\", \"Labor Laws\", \"Talent Acquisition\", \"CRM\", \"Social Media\", \"SEO\"\n    ];\n\n    const jobText = (\n      (job.job_title || \"\") + \" \" +\n      (job.job_description || \"\") + \" \" +\n      (job.job_highlights?.Qualifications?.join(\" \") || \"\")\n    ).toLowerCase();\n\n    for (const skill of skillKeywords) {\n      if (jobText.includes(skill.toLowerCase())) {\n        skills.push(skill);\n      }\n    }\n    \n    // Ensure at least 2 skills are shown\n    if (skills.length < 2) {\n       const roleSkills = {\n         \"Software Engineer\": [\"Python\", \"JavaScript\"],\n         \"Web Developer\": [\"React\", \"Node.js\"],\n         \"Civil Engineer\": [\"AutoCAD\", \"Project Management\"],\n         \"Mechanical Engineer\": [\"SolidWorks\", \"CAD\"],\n         \"Electrical Engineer\": [\"Circuit Design\", \"PLC\"],\n         \"HR Manager\": [\"Recruitment\", \"Employee Relations\"],\n         \"Banking\": [\"Risk Management\", \"Customer Service\"],\n         \"Accountant\": [\"Tally\", \"Excel\"],\n         \"Financial Analyst\": [\"Excel\", \"Financial Modeling\"],\n         \"Marketing Manager\": [\"SEO\", \"Social Media\"]\n       };\n       const fallbacks = roleSkills[role] || [\"Teamwork\", \"Communication\"];\n       fallbacks.forEach(s => { if (!skills.includes(s)) skills.push(s); });\n    }\n\n    results.push({\n      role: role,\n      job_title: job.job_title || \"Job Opening\",\n      company: job.employer_name || \"Company\",\n      location: job.job_city \n                ? job.job_city + \", \" + job.job_country \n                : \"India\",\n      skills: skills.slice(0, 5),\n      apply_link: applyLink\n    });\n\n    count++;\n  }\n}\n\nreturn [{ json: { jobs: results } }];"
      },
      "id": "transform-data",
      "name": "Parse and Format Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/jobs/update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"jobs\": {{ JSON.stringify($json.jobs) }} }",
        "options": {}
      },
      "id": "send-fastapi",
      "name": "Send to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Define Roles & Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Roles & Queries": {
      "main": [
        [
          {
            "node": "Loop Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Roles": {
      "main": [
        [
          {
            "node": "Fetch Jobs from JSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Format Jobs": {
      "main": [
        [
          {
            "node": "Send to FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FastAPI": {
      "main": [
        [
          {
            "node": "Loop Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from JSearch": {
      "main": [
        [
          {
            "node": "Parse and Format Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}